@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import url("https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i&display=swap");
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";

//colors
$c-fon-a_h_p: #4d4d4d;
$c-bor-a: #878787;
$c-fon-p: #909090;
$c-fon-h2: #717171;
$c-fon-h3: #6f6f6f;
$c-fon-h3_b: #767676;
$c-bg: #f6f6f6;
$c-fon-h4: #f0f0f0;
$c-fon-h4_b: #c1c1c1;
$c-fon-h5: #373737;
$c-black: #212121;
$c-white: #fff;
$c-fon-p_p: #7a7a7a;
$c-bg-hov: #0084b4;

//fonts
$font-family: 'Asap', sans-serif;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


h1, h2, h3, h4, h5, h6, p, a, span{
  font-family: $font-family;
}
//extend
.pad{
  padding: 110px 0 120px;
}
.style-text{
  font-size: 16px;
  color: $c-fon-a_h_p;
}
.a-hover{
  text-decoration: none;
  color: $c-fon-a_h_p;
}
//extend

section{
  @extend .pad;
  h2{
    font-size: 46px;
    color: $c-fon-h2;
    font-weight: bold;
    letter-spacing: 7px;
    &:before{
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      background-color: $c-fon-p_p;
      margin-bottom: 19px;
      @include max-screen(992px){
        margin: 0 auto 19px;
      }
    }
    @include max-screen(375px){
      text-align: center;
    }
  }
  p{
    @extend .style-text;
    @include max-screen(768px){
      text-align: justify;
    }
  }
  a{
    @extend .style-text;
    border: 1px solid $c-fon-a_h_p;
    padding: 19px 47px;
    margin-top: 40px;
    display: inline-block;
    &:hover{
      @extend .a-hover;
    }
    @include max-screen(992px){
      margin: 40px auto 40px;
      text-align: center;
      display: block;
      width: 245px;
    }
  }
  img{
    width: 100%;
  }
}
article{
  padding: 100px 0 24px;
  &:nth-child(2n){
    background-color: $c-bg;
  }
  h3{
    font-size: 46px;
    color: $c-fon-h3;
    font-weight: bold;
    letter-spacing: 9px;
    text-align: center;
    margin-bottom: 62px;
    &:before{
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      margin: 0 auto 19px;
      background-color: $c-fon-h3_b;
    }
    @include max-screen(375px){
      font-size: 42px;
    }
  }
  .services{
    text-align: center;
    margin-bottom: 88px;
    p{
      font-size: 24px;
      line-height: 24px;
      color: $c-fon-a_h_p;
      font-weight: bold;
      margin: 12px 0 0;
    }
    img{
      height: 82px;
    }
  }
  .skills{
    @include max-screen(768px){
      padding: 0 15px;
    }
    img{
      width: 100%;
      margin-bottom: 101px;
    }
  }
  .portfolio{
    text-align: center;
    img{
      transition: 0.3s;
      margin-bottom: 30px;
      height: 318px;
      width: 100%;
      &:hover{
        -webkit-box-shadow: 0 0 18px 0 $c-fon-a_h_p;
        box-shadow: 0 0 18px 0 $c-fon-a_h_p;
        transition: 0.3s;
      }
      @include max-screen(768px){
        max-width: 368px;
      }
    }
    .a{
      font-size: 16px;
      color: $c-fon-a_h_p;
      padding: 20px 48px;
      background-color: $c-white;
      display: inline-block;
      margin-bottom: 116px;
      font-weight: bold;
      transition: 0.3s;
      &:hover{
        @extend .a-hover;
        -webkit-box-shadow: 0 8px 18px -13px $c-fon-a_h_p;
        box-shadow: 0 8px 18px -13px $c-fon-a_h_p;
        transition: 0.3s;
      }
    }
  }
  .container-flex{
    display: flex;
    padding: 80px 74px 38px 120px;
    border: 1px solid $c-black;
      .img-{
        width: 159px;
        height: 159px;
      }
  }
}
footer{
  position: relative;
  background-image: url("../img/contact-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h3{
    font-size: 46px;
    color: $c-fon-h4;
    font-weight: bold;
    letter-spacing: 9px;
    text-align: center;
    margin: 145px 0 70px;
    &:before{
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      margin: 0 auto 19px;
      background-color: $c-fon-h4_b;
    }
    @include max-screen(375px){
      font-size: 42px;
    }
  }
  form{
    color: $c-fon-a_h_p;
    font-size: 16px;
    font-weight: bold;
    input, textarea{
      width: 100%;
      padding-left: 10px;
      margin-bottom: 28px;
      outline: none;
    }
    input{
      line-height: 58px;
    }
    textarea{
      padding-top: 25px;
      height: 208px;
      resize: none;
    }
    button{
      min-width: 122px;
      line-height: 50px;
      border: none;
      outline: none;
      background-color: #fff;
      margin: 0 auto 58px;
      display: block;
      i{
        padding-left: 7px;
      }
    }
  }
  p{
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 82px;
    margin: 0;
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }
  .absolutle{
    position: absolute;
    bottom: 29px;
  }
  .absolutle a{
    width: 28px;
    display: inline-block!important;
    line-height: 28px!important;
    font-size: 16px;
    font-weight: bold;
    color: $c-fon-a_h_p;
    background-color: #fff;
    text-align: center;
    margin-right: 9px;
    &:hover{
      @extend .a-hover;
      color: #fff;
      background-color: $c-bg-hov;
    }
  }
  .absolutle-2{
    position: absolute;
    right: 30px;
    bottom: 194px;
  }
  .absolutle-2 a{
    width: 42px;
    line-height: 42px!important;
    display: inline-block!important;
    color: $c-fon-a_h_p;
    background-color: #fff;
    text-align: center;
    font-size: 24px;
    transition: 0.3s;
    &:hover{
      @extend .a-hover;
      -webkit-box-shadow: 0 0 18px 0 $c-fon-a_h_p;
      box-shadow: 0 0 18px 0 $c-fon-a_h_p;
      transition: 0.3s;
    }
  }
}