@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import url("https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i&display=swap");

//colors
$c-fon-a_h_p: #4d4d4d;
$c-bor-a: #878787;
$c-fon-p: #909090;
$c-fon-h2: #717171;
$c-fon-h3: #6f6f6f;
$c-fon-h3_b: #767676;
$c-bg: #f6f6f6;
$c-fon-h4: #f0f0f0;
$c-fon-h4_b: #c1c1c1;
$c-fon-h5: #373737;
$c-black: #212121;
$c-white: #fff;
$c-fon-p_p: #7a7a7a;
$c-bg-hov: #0084b4;

//fonts
$font-family: 'Asap', sans-serif;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


h1, h2, h3, h4, h5, h6, p, a, span{
  font-family: $font-family;
}
//extend
.pad{
  padding: 110px 0 120px;
}
.style-text{
  font-size: 16px;
  color: $c-fon-a_h_p;
}
.a-hover{
  text-decoration: none;
  color: $c-fon-a_h_p;
}
//extend

section{
  @extend .pad;
  h2{
    font-size: 46px;
    color: $c-fon-h2;
    font-weight: bold;
    letter-spacing: 7px;
    &:before{
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      background-color: $c-fon-p_p;
      margin-bottom: 19px;
      @include max-screen(375px){
        width: 100%;
      }
    }
    @include max-screen(375px){
      text-align: center;
    }
  }
  p{
    @extend .style-text;
    @include max-screen(768px){
      text-align: justify;
    }
  }
  a{
    @extend .style-text;
    border: 1px solid $c-fon-a_h_p;
    padding: 19px 47px;
    margin-top: 40px;
    display: inline-block;
    &:hover{
      @extend .a-hover;
    }
    @include max-screen(992px){
      margin: 40px auto 40px;
      text-align: center;
      display: block;
      width: 245px;
    }
  }
  img{
    width: 100%;
  }
}
article{
  background-color: $c-bg;
  padding: 100px 0 24px;
  h3{
    font-size: 46px;
    color: $c-fon-h3;
    font-weight: bold;
    letter-spacing: 9px;
    text-align: center;
    margin-bottom: 62px;
    &:before{
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      margin: 0 auto 19px;
      background-color: $c-fon-h3_b;
    }
  }
  .services{
    text-align: center;
    margin-bottom: 88px;
    p{
      font-size: 24px;
      line-height: 24px;
      color: $c-fon-a_h_p;
      font-weight: bold;
      margin: 12px 0 0;
    }

  }
}