@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url("https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i&display=swap");
h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: "Asap", sans-serif; }

.pad, section {
  padding: 110px 0 120px; }

.style-text, section p, section a {
  font-size: 16px;
  color: #4d4d4d; }

.a-hover, section a:hover, article .portfolio .a:hover {
  text-decoration: none;
  color: #4d4d4d; }

section h2 {
  font-size: 46px;
  color: #717171;
  font-weight: bold;
  letter-spacing: 7px; }
  section h2:before {
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    background-color: #7a7a7a;
    margin-bottom: 19px; }
    @media screen and (max-width: 992px) {
      section h2:before {
        margin: 0 auto 19px; } }
  @media screen and (max-width: 375px) {
    section h2 {
      text-align: center; } }
@media screen and (max-width: 768px) {
  section p {
    text-align: justify; } }
section a {
  border: 1px solid #4d4d4d;
  padding: 19px 47px;
  margin-top: 40px;
  display: inline-block; }
  @media screen and (max-width: 992px) {
    section a {
      margin: 40px auto 40px;
      text-align: center;
      display: block;
      width: 245px; } }
section img {
  width: 100%; }

article {
  padding: 100px 0 24px; }
  article:nth-child(2n) {
    background-color: #f6f6f6; }
  article h3 {
    font-size: 46px;
    color: #6f6f6f;
    font-weight: bold;
    letter-spacing: 9px;
    text-align: center;
    margin-bottom: 62px; }
    article h3:before {
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      margin: 0 auto 19px;
      background-color: #767676; }
    @media screen and (max-width: 375px) {
      article h3 {
        font-size: 42px; } }
  article .services {
    text-align: center;
    margin-bottom: 88px; }
    article .services p {
      font-size: 24px;
      line-height: 24px;
      color: #4d4d4d;
      font-weight: bold;
      margin: 12px 0 0; }
    article .services img {
      height: 82px; }
  @media screen and (max-width: 768px) {
    article .skills {
      padding: 0 15px; } }
  article .skills img {
    width: 100%;
    margin-bottom: 101px; }
  article .portfolio {
    text-align: center; }
    article .portfolio img {
      transition: 0.3s;
      margin-bottom: 30px;
      height: 318px;
      width: 100%; }
      article .portfolio img:hover {
        -webkit-box-shadow: 0 0 18px 0 #4d4d4d;
        box-shadow: 0 0 18px 0 #4d4d4d;
        transition: 0.3s; }
      @media screen and (max-width: 768px) {
        article .portfolio img {
          max-width: 368px; } }
    article .portfolio .a {
      font-size: 16px;
      color: #4d4d4d;
      padding: 20px 48px;
      background-color: #fff;
      display: inline-block;
      margin-bottom: 116px;
      font-weight: bold;
      transition: 0.3s; }
      article .portfolio .a:hover {
        -webkit-box-shadow: 0 8px 18px -13px #4d4d4d;
        box-shadow: 0 8px 18px -13px #4d4d4d;
        transition: 0.3s; }

/*# sourceMappingURL=main.css.map */
