@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url("https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i&display=swap");
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css);
h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: "Asap", sans-serif; }

.pad, section {
  padding: 110px 0 120px; }

.style-text, section p, section a {
  font-size: 16px;
  color: #4d4d4d; }

.a-hover, header .a:hover, section a:hover, article .portfolio .a:hover, footer .absolutle a:hover, footer .absolutle-2 a:hover {
  text-decoration: none;
  color: #4d4d4d; }

.h5, article .container-flex h5, article .article-testimonials h5 {
  font-size: 30px;
  color: #373737;
  font-weight: bold;
  margin: 0; }

header {
  background-image: url("../img/bg-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header nav {
    background-image: none !important;
    box-shadow: none !important;
    border: none !important;
    background-color: inherit !important; }
    header nav li {
      font-size: 16px; }
      header nav li a {
        text-transform: uppercase !important;
        color: #4d4d4d !important; }
        header nav li a:after {
          content: "";
          display: block;
          height: 2px;
          margin-top: 8px;
          background-color: #878787;
          width: 0; }
        header nav li a:hover {
          text-transform: capitalize !important; }
          header nav li a:hover:after {
            width: 100%; }
  @media screen and (max-width: 992px) {
    header .header {
      text-align: center; } }
  header h1 {
    margin-top: 182px;
    font-size: 90px;
    color: #4d4d4d; }
    @media screen and (max-width: 1024px) {
      header h1 {
        margin-top: 100px; } }
    @media screen and (max-width: 460px) {
      header h1 {
        font-size: 55px; } }
  header p {
    font-size: 22px;
    color: #909090;
    line-height: 22px;
    margin-bottom: 28px; }
  header .a {
    border-radius: 0;
    font-size: 16px;
    color: #4d4d4d;
    font-weight: bold;
    line-height: 48px;
    display: inline-block;
    padding: 0 47px;
    margin-right: 20px;
    border: 1px solid #4d4d4d;
    transition: 0.3s;
    margin-bottom: 10px; }
    @media screen and (max-width: 414px) {
      header .a {
        margin: 0 0 10px; } }
    header .a:hover {
      border: 1px solid #fff;
      background-color: #fff;
      -webkit-box-shadow: 0 8px 18px -13px #4d4d4d;
      box-shadow: 0 8px 18px -13px #4d4d4d;
      transition: 0.3s; }
  header img {
    width: 100%; }

@media screen and (max-width: 768px) {
  section {
    padding: 80px 0 0; } }
section h2 {
  font-size: 46px;
  color: #717171;
  font-weight: bold;
  letter-spacing: 7px; }
  section h2:before {
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    background-color: #7a7a7a;
    margin-bottom: 19px; }
    @media screen and (max-width: 992px) {
      section h2:before {
        margin: 0 auto 19px; } }
  @media screen and (max-width: 375px) {
    section h2 {
      text-align: center; } }
@media screen and (max-width: 768px) {
  section p {
    text-align: justify; } }
section a {
  border: 1px solid #4d4d4d;
  padding: 19px 47px;
  margin-top: 40px;
  display: inline-block; }
  @media screen and (max-width: 992px) {
    section a {
      margin: 40px auto 40px;
      text-align: center;
      display: block;
      width: 245px; } }
section img {
  width: 100%; }

article {
  padding: 100px 0 24px; }
  @media screen and (max-width: 768px) {
    article {
      padding: 80px 0 0; } }
  article:nth-child(2n+1) {
    background-color: #f6f6f6; }
  article h3 {
    font-size: 46px;
    color: #6f6f6f;
    font-weight: bold;
    letter-spacing: 9px;
    text-align: center;
    margin-bottom: 62px; }
    article h3:before {
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      margin: 0 auto 19px;
      background-color: #767676; }
    @media screen and (max-width: 414px) {
      article h3 {
        font-size: 42px; } }
    @media screen and (max-width: 375px) {
      article h3 {
        font-size: 25px; } }
  article .services {
    text-align: center;
    margin-bottom: 88px; }
    article .services p {
      font-size: 24px;
      line-height: 24px;
      color: #4d4d4d;
      font-weight: bold;
      margin: 12px 0 0; }
    article .services img {
      height: 82px; }
  @media screen and (max-width: 768px) {
    article .skills {
      padding: 0 15px; } }
  article .skills img {
    width: 100%;
    margin-bottom: 101px; }
  article .portfolio {
    text-align: center; }
    article .portfolio img {
      transition: 0.3s;
      margin-bottom: 30px;
      height: 318px;
      width: 100%; }
      article .portfolio img:hover {
        -webkit-box-shadow: 0 0 18px 0 #4d4d4d;
        box-shadow: 0 0 18px 0 #4d4d4d;
        transition: 0.3s; }
      @media screen and (max-width: 768px) {
        article .portfolio img {
          max-width: 368px; } }
    article .portfolio .a {
      font-size: 16px;
      color: #4d4d4d;
      padding: 20px 48px;
      background-color: #fff;
      display: inline-block;
      margin-bottom: 116px;
      font-weight: bold;
      transition: 0.3s; }
      article .portfolio .a:hover {
        -webkit-box-shadow: 0 8px 18px -13px #4d4d4d;
        box-shadow: 0 8px 18px -13px #4d4d4d;
        transition: 0.3s; }
  article .container-flex {
    display: flex;
    padding: 80px 80px 38px 120px;
    border: 1px solid #212121;
    margin: 0 10px; }
    @media screen and (max-width: 992px) {
      article .container-flex {
        flex-direction: column;
        align-items: center; } }
    @media screen and (max-width: 768px) {
      article .container-flex {
        padding: 50px 15px 50px; } }
    article .container-flex .img- {
      margin-right: 30px; }
      @media screen and (max-width: 992px) {
        article .container-flex .img- {
          margin: 0 0 15px; } }
    @media screen and (max-width: 992px) {
      article .container-flex h5, article .container-flex h6 {
        text-align: center; } }
    article .container-flex h6 {
      color: #454545;
      font-size: 12px;
      margin-bottom: 20px; }
    article .container-flex p {
      font-size: 16px;
      color: #909090;
      line-height: 32px;
      text-transform: uppercase; }
      @media screen and (max-width: 992px) {
        article .container-flex p {
          text-align: justify; } }
  article .owl-carousel .owl-item img {
    width: inherit; }
  article .owl-carousel .owl-nav {
    display: none; }
  article .owl-carousel .owl-dots {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 15px; }
  article .owl-carousel button.owl-dot {
    width: 12px;
    height: 12px;
    border: 1px #212121 solid;
    margin: 0 4px;
    outline: none; }
  article .owl-carousel button.owl-dot.active {
    background-color: #212121; }
  article .article-testimonials {
    margin: 120px 0 130px;
    background-color: #f6f6f6;
    padding: 52px 0 68px; }
    @media screen and (max-width: 768px) {
      article .article-testimonials {
        margin: 80px 0 0; } }
    article .article-testimonials .first-height {
      height: 98px;
      margin-top: 0; }
    article .article-testimonials img {
      height: 74px;
      margin-top: 24px;
      margin-bottom: 32px; }
    article .article-testimonials p {
      font-size: 22px;
      text-transform: uppercase;
      color: #373737;
      margin-top: 15px; }

footer {
  position: relative;
  background-image: url("../img/contact-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  footer h3 {
    font-size: 46px;
    color: #f0f0f0;
    font-weight: bold;
    letter-spacing: 9px;
    text-align: center;
    margin: 145px 0 70px; }
    footer h3:before {
      content: "";
      display: block;
      height: 4px;
      width: 60px;
      margin: 0 auto 19px;
      background-color: #c1c1c1; }
    @media screen and (max-width: 375px) {
      footer h3 {
        font-size: 42px; } }
  footer form {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: bold; }
    footer form input, footer form textarea {
      width: 100%;
      padding-left: 10px;
      margin-bottom: 28px;
      outline: none; }
    footer form input {
      line-height: 58px; }
    footer form textarea {
      padding-top: 25px;
      height: 208px;
      resize: none; }
    footer form button {
      min-width: 122px;
      line-height: 50px;
      border: none;
      outline: none;
      background-color: #fff;
      margin: 0 auto 58px;
      display: block; }
      footer form button i {
        padding-left: 7px; }
      @media screen and (max-width: 768px) {
        footer form button {
          margin: 0 auto 88px; } }
  footer p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 82px;
    margin: 0; }
    footer p:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff; }
  footer .absolutle {
    position: absolute;
    bottom: 29px; }
    @media screen and (max-width: 768px) {
      footer .absolutle {
        left: 50%;
        margin-left: -116px;
        bottom: 95px; } }
    footer .absolutle a {
      width: 28px;
      display: inline-block !important;
      line-height: 28px !important;
      font-size: 16px;
      font-weight: bold;
      color: #4d4d4d;
      background-color: #fff;
      text-align: center;
      margin-right: 9px; }
      footer .absolutle a:last-of-type {
        margin-right: 0; }
      footer .absolutle a:hover {
        color: #fff;
        background-color: #0084b4; }
  footer .absolutle-2 {
    position: absolute;
    right: 30px;
    bottom: 194px; }
    @media screen and (max-width: 970px) {
      footer .absolutle-2 {
        display: none; } }
    footer .absolutle-2 a {
      width: 42px;
      line-height: 42px !important;
      display: inline-block !important;
      color: #4d4d4d;
      background-color: #fff;
      text-align: center;
      font-size: 24px;
      transition: 0.3s; }
      footer .absolutle-2 a:hover {
        -webkit-box-shadow: 0 0 18px 0 #4d4d4d;
        box-shadow: 0 0 18px 0 #4d4d4d;
        transition: 0.3s; }

/*# sourceMappingURL=main.css.map */
